<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <div class="btn-add">
        <%= link_to 'ToDoを追加', new_task_path,
                  class: "btn btn-warning btn-add" %>
      </div>
      <p>#カテゴリーを表示する</p>
    </section>
  </aside>
  <div class="col-md-9">
    <%= form_tag(root_path) do %>
      <%= render 'todo_list' %>
      <input type="submit" value="削除", method: :delete>
    <% end %>
  </div>
</div>