<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "ToDoアプリ", root_path, id: "logo" %>
    <nav>
      <ul class="navbar navbar-nav">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
  </div>
</header>